# NetBeans specific #
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
src/java/com/vtlocator/managers/Constants.java
web/WEB-INF/glassfish-web.xml

# Class Files #
*.class

# Package Files #
*.jar
*.war
*.ear