/*
Created by Jaemin Seo on 2016.04.13 
Copyright © 2016 Jaemin Seo. All rights reserved.
*/
/* 
    Created on : Apr 13, 2016, 2:50:58 PM
    Author     : Jaemin
*/


.profile-logo {
    width: 100px;
    height: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.signup-input {
    width: 54%;
}

.fa-email, .fa-security-question {
    visibility: hidden;
}

.output-email {
    font-weight: normal;
}

.profile-question {
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
}

.fa-2x:hover {
    cursor: pointer;
}