html {
    /*display: block;
    height: 100%;*/
    overflow-x: hidden;
    min-height: 100% !important;
    height: 100%;
}

body {
    padding-top: 50px;
    overflow-x: hidden;
    margin: 0;
    position: relative;
    min-height: 100% !important;
    height: 100%;
}

hr {
    border-color: #C4C4C4;
}

.btn-custom {
    color: white;
    background-color: #e95051;
    border-color: #A94442;
}

.btn-custom:hover {
    background-color: #D03738;
    color: white;
}

.text-custom {
    color: #e95051; 
}

#editableContent {
    position:relative;
    min-height: 100% !important;
    height: 100%;
}

/**
 * Navbar CSS Rules
 */
nav.navbar-default {
    border-bottom: 2px solid #e95051;
}

.user-dropdown {
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 15px;
}

.user-dropdown button {
    width: 170px;
    text-align: left;
    padding: 0;
}

.user-dropdown .dropdown-menu {
    width: 170px;
}

.user-dropdown button i {
    font-size: 1.5em;
    margin-right: 10px;
    margin-top: 8px;
}

.user-dropdown .user-profile-img {
    border-radius: 50%;
    height: 30px;
    margin-left: 10px;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-right: 5px;
}

.btn-nav {
    margin-top: 8px;
    margin-right: 10px;
}

.content-wrapper {
    position: relative;
    padding-left: 300px;
    height: 100%;
}
/**
 * Sidebar CSS Rules
 */
#sidebar {
    min-height: 100%;
    height: 100%;
    display: inline-block;
    float: left;
    border-right: 2px solid #e95051;
    width: 300px;
    height: 100%;
    overflow: scroll;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    padding-top: 40px;
    padding-left: 10px;
    padding-right: 10px;
}

.sidebar-collapser {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #e95051;
    cursor: pointer;
}

.sidebar-collapser-hidden {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #e95051;
    cursor: pointer;
    z-index: 999;
}

.sidebar-collapser i,
.sidebar-collapser-hidden i {
    color: white;
    font-size: 2em;
    font-weight: bold;
    margin-top: 5px;
    margin-left: 10px;
}

.location-searh-wrapper {
    background-color: lightblue;
    width: 100%;
    height: 200px;
}

.search-header {
    margin-top: 80px;
}

/**
 * Main Panel CSS Rules
 */
#mainPanel {
    display: inline-block;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
}

/**
 * Login CSS Rules
 */
.form-signin {
    max-width: 550px;
}

.logo {
    height: 39px;
    margin-top: -7px;
    margin-left: -9px;
}

.login-logo {
    margin-top: 100px;
    margin-bottom: 30px;
    width: 75%;
}

.login-label {
    padding-right: 10px;
}

.signup-label {
    padding-right: 10px;
}

.form-signin table {
    border-collapse: collapse;
}

.form-signin td {
    padding-bottom: 10px;
}

.form-signin .btn {
    margin-right: 5px;
    margin-left: 5px;
}

/**
 * Landing page CSS Rules
 */
.landing-jumbotron {
    height: 85vh;
    background-image: url(../resources/images/splash_background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    border-bottom: 2px solid #e95051;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.2);
    margin-bottom: 0;
}

.landing-jumbotron .jumbotron-text {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 200px;
    max-width: 800px;
    margin: auto;
}

.landing-jumbotron h1 {
    font-size: 4em;
}

/**
 * Footer CSS Rules
 */
div.footer {
    background-color: #e95051;
    color: white;
    height: 20px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -20px;
}

div.footer .footer-text {
    margin-bottom: 0;
}

#map {
    width: 500px;
    height: 500px;
}

/**
 * Building CSS Rules
 */
.buildingInfo .buildingImage {
    width: 280px;
    height: 250px;
    position: absolute;
    bottom: 10px;
    left: 10px;
    
}

.buildingInfo .buildingDescription {
    width: 260px;
    position: absolute;
    bottom: 270px;
    left: 20px;
}

#dropDownForm {
    width: 100%;
}

.dropdown .dropMenu {
    width: 100%;
    margin-top: 20px;
}

.building-label {
    padding-top: 20px;
    padding-right: 10px;
}

/**
 * Parking CSS Rules
 */
.parking-sidebar-wrapper .btn {
    margin-top: 10px;
}

.afterhours-panel {
    margin: 20px 10px;
}

/**
 * Lost and Found CSS Rules
 */
.checkbox {
    font-size: 1.2em;
    margin-left: 20px;
}

.btn-subscription {
    margin-right: 10px;
    margin-bottom: 20px;
}

.form-create-item {
    margin-top: 50px;
}

.create-item-label {
    padding-right: 10px;
}

.form-create-item table {
    border-collapse: collapse;
    margin-top: 10px;
}

.form-create-item table textArea {
    resize:vertical;
}

.form-create-item td {
    padding-bottom: 10px;
}

.form-create-item .btn {
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 20px;
}

.item-img-upload-wrapper {
    border: 3px dashed gray;
    border-radius: 10px;
    color: gray;
    font-size: 1.6em;
    height: 150px;
    margin: 0 20px;
    padding-top: 40px;
    cursor: pointer;
    margin-top: 20px;
}

.item-uploaded-img-wrapper {
    padding: 0 20px;
    margin-top: 20px;
}

.item-uploaded-img {
    position: relative;
}

.item-uploaded-img a {
    position: absolute;
    top: 6px;
    right: 27px;
    color: white;
    font-size: 1.7em;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

.item-uploaded-img img {
    width: 100%;
    margin-bottom: 20px;
}

.location-found-map-wrapper {
    width: 85%;
    height: 400px;
    background-color: lightblue;
}

.lost-and-found-home-wrapper {
    margin: 0 65px;
}

.lost-and-found-home-wrapper h1 {
    margin-bottom: 25px;
}

.lost-and-found-home-wrapper p {
    font-size: 1.4em;
}

.coordinates {
   display: none;
}

.item-list-view-wrapper {
    padding: 10px;
}

.item-list-view {
    cursor: pointer;
    margin-bottom: 30px;
    padding: 10px;
    border: 2px dashed white;
}

.item-list-view:hover {
    border: 2px dashed #e95051;
    border-radius: 10px;
}

.item-list-view img {
    width: 75%;
    height: auto;
}

.item-list-view .item-title {
    color: #e95051;
}

.view-all-link {
    color: #e95051;
    margin-right: 20px;
}

.lost-and-found-sidebar-wrapper {
}

.lost-and-found-sidebar-wrapper .btn {
    margin-top: 10px;
}

.item-view-wrapper {
    margin: 0 65px;
}

.item-view-wrapper .item-view-title {
    color: #e95051;
    text-align: left;
}

.item-view-wrapper img.item-photo {
    width: 75%;
    max-width: 500px;
    margin: 20px auto;
}

.item-view-wrapper p.item-decription {
    text-align: left;
    font-size: 1.4em;
    margin-bottom: 20px;
}

.item-view-wrapper .input-group {
    margin-bottom: 20px;
}

.item-view-map-wrapper {
    width: 100%;
    height: 500px;
    background-color: lightblue;
    margin-bottom: 20px;
}

.finder-wrapper {
    max-width: 400px;
}

.finder-wrapper .finder-photo {
    border-radius: 50%;
    height: 100px;
    margin-right: 20px;
    margin-bottom: 10px;
}

/**
 * Profile CSS Rules
 */
.profile-logo {
    width: 75%;
    height: auto;
    max-width: 500px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.signup-input {
    width: 54%;
}

.fa-email, .fa-security-question {
    visibility: hidden;
}

.output-email {
    font-weight: normal;
}

.profile-question {
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
}

.fa-2x:hover {
    cursor: pointer;
}
