html,body {
    height: 100%;
    padding: 0;
}

body {
    padding-top: 52px;
}

/**
 * Navbar CSS Rules
 */
nav.navbar-default {
    border-bottom: 2px solid #e95051;
}

.user-dropdown {
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 15px;
}

.user-dropdown button {
    width: 160px;
    text-align: left;
    padding: 0;
}

.user-dropdown button i {
    font-size: 1.5em;
    margin-right: 10px;
    margin-top: 8px;
}

.user-dropdown .user-profile-img {
    border-radius: 50%;
    height: 30px;
    margin-left: 10px;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-right: 5px;
}

/**
 * Login CSS Rules
 */
.form-signin {
    max-width: 550px;
}

.logo {
    height: 39px;
    margin-top: -7px;
    margin-left: -9px;
}

.login-logo {
    margin-top: 100px;
    margin-bottom: 30px;
    width: 75%;
}

.login-label {
    padding-right: 10px;
}

.signup-label {
    padding-right: 10px;
}

.form-signin table {
    border-collapse: collapse;
}

.form-signin td {
    padding-bottom: 10px;
}

.form-signin .btn {
    margin-right: 5px;
    margin-left: 5px;
}


/**
 * Footer CSS Rules
 */
div.footer {
    background-color: #e95051;
    color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 20px;
}